<%= form_with model: [:backend, @note] do |form| %>
  <div class='mb-3'>
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
    <p class='error'><%= show_errors(@note, :title) %></p>
  </div>
  <%= form.hidden_field :book_id, value: @selected_book_id %>
  <div class='mb-3'>
    <%= form.label :body, class: 'form-label' %>
    <%= form.text_area :body, size: "70x20", class: 'form-control' %>
    <p class='error'><%= show_errors(@note, :body) %></p>
  </div>
  <%= form.submit 'Guardar', class: 'btn btn-primary' %>
<% end %>