<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Cuadernos</li>
    <%= link_to 'Nueva cuaderno',
      new_backend_book_path,
      class: 'ml-3 btn btn-success' %>
      <%= link_to 'Nueva nota',
      new_backend_note_path,
      class: 'ml-3 btn btn-success' %>
      <%= link_to 'Exportar todas las notas',
      backend_exports_all_path,
      target: '_blank',
      class: 'btn btn-secondary ml-2' %>
  </ol>
</nav>

<div class='flexbox'>
  <% @books.each do |book| %>
    <%= link_to backend_notes_from_book_path(book.id), class: 'text-decoration-none mr-3' do %>
      <i class="far fa-folder fa-5x"></i>
      <p><%= book.name %></p>
    <% end %>
  <% end %>
</div>
<hr>
<div class="flexbox">
  <% @global_notes.each do |note| %>
    <%= link_to backend_note_path(note.id), class: 'text-decoration-none mr-4' do %>
      <i class="far fa-file-alt fa-5x"></i>
      <p><%= note.title %></p>
    <% end %>
  <% end %>
</div>